* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    color: #fff;
    background-color: #1f2937;
    padding: 0.5% 0;
    display: flex;
    justify-content: center;
}

.header {
    width: 80%;
    display: flex;
    justify-content:space-between;
}


.logo{
    font-size: 24px;
    color: #f9faf8;
    
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-link {
    margin-left: 20px;
}

.header-link a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration:none;    
}


.hero-container {
    color: #fff;
    background-color: #1f2937;
    padding: 3% 0;
    display: flex;
    justify-content: center;
}

.hero {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.text{
    color: #e5e7eb;
    font-size: 18px;
}

.button{
    background-color: #3882f6;
    border: 1px solid #fff;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 5px;
}


.info-container {
    background-color: #fff;
    padding: 3% 0;
    display: flex;
    justify-content: center;
}

.information {
        width: 80%;
        justify-content:space-between;

}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 1%;
}

.info-items{
    display: flex;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
}

.info-item{
    text-align: center;
    padding: 1% 0;
}

.info-img{
    border-radius: 12px;
    border: 3px solid #3882f6;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.quote {
    width: 80%;
    justify-content:center;
    padding: 2%;

}

.quote-text{
    color: #1f2937;
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
}

.quote-author{
    text-align: right;
    font-weight: bold;
}

.call-container {
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.calls {
    width: 80%;
    justify-content:space-between;
    padding: 2%;
    display: flex;
    background-color: #3882f6;
    align-items: center;
    color: #fff;
    border-radius: 10px;
}

.call-subject{
    font-size: 24px;
}

.footer-container {
    background-color: #1f2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.footer{
    color: #fff;
}